div{
    padding: 20px;
    border: solid red 2px;
    margin: 10px;
    width: 120px;
    height: 150px;
    float: left;
    font-size: 10px;
    animation: myanimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes myanimation {
    0% {background-color: red;}
    25% {background-color: seagreen;}
    50% {background-color: springgreen;}
    75% {background-color: yellowgreen;}
    100% {background-color: burlywood;}
}