div{
    padding: 20px;
    border: solid black 2px;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    font-size: 10px;
    border-radius: 50%;
    position: absolute;
    float: left;
}

#d1{
    top:0px;
    left: 10px;
    margin: 10px;
    background-color: blue;
    animation-name: myanimationd1;
}

@keyframes myanimationd1 {
    0% {background-color: red;margin: 20px;left:20px}
    5% {background-color: red;margin: 120px;left:120px}
    10% {background-color: red;margin: 220px;left:220px}
    15% {background-color: red;margin: 320px;left:320px}
    20% {background-color: white;margin: 392px;left:453px}
}

#d2{
    top:0px;
    right: 10px;
    margin:10px;
    background-color: yellow;
    animation-name: myanimationd2;
}

@keyframes myanimationd2 {
    0% {background-color: green;margin: 20px;right:20px}
    5% {background-color: green;margin: 120px;right:120px}
    10% {background-color: green;margin: 220px;right:220px}
    15% {background-color: green;margin: 320px;right:320px}
    20% {background-color: white;margin: 392px;right:453px}
}
#d3{
    left: 10px;
    bottom: 0px;
    margin:10px;
    background-color: green;
    animation-name: myanimationd3; 
}

@keyframes myanimationd3 {
    0% {background-color: yellow;margin: 20px;left:20px}
    5% {background-color: yellow;margin: 120px;left:120px}
    10% {background-color: yellow;margin: 220px;left:220px}
    15% {background-color: yellow;margin: 320px;left:320px}
    20% {background-color: white;margin: 392px;left:453px}
}

#d4{
    right: 10px;
    bottom: 0px;
    margin:10px;
    background-color: red;
    animation-name: myanimationd4;
}
@keyframes myanimationd4 {
    0% {background-color: blue;margin: 20px;right:20px}
    5% {background-color: blue;margin: 120px;right:120px}
    10% {background-color: blue;margin: 220px;right:220px}
    15% {background-color: blue;margin: 320px;right:320px}
    20% {background-color: white;margin: 392px;right:453px}
}