<div>
    <button> Basic Button </button>
    <button mat-button> Basic Button </button>
    <button mat-button color="primary"> Primary Button </button>
    <button mat-button color="accent"> Accent Button </button>
    <button mat-button color="warn"> Warn Button </button>
    <button mat-button style="color:aqua"> Custom Button </button>
    <hr/>
    <button mat-raised-button> Raise Simple Button </button>
    <button mat-raised-button color="primary"> Raise Primary Button </button>
    <button mat-raised-button color="accent"> Raise Accent Button </button>
    <button mat-raised-button color="warn"> Raise Warn Button </button>
    <button mat-raised-button style="color:aqua"> Raise Custom Button </button>
    <hr/>
    <button mat-stroked-button>Stroked Basic Button</button>
    <button mat-stroked-button color="primary">Stroked Primary Button</button>
    <button mat-stroked-button color="accent">Stroked Accent Button</button>
    <button mat-stroked-button color="warn">Stroked Warn Button</button>
    <button mat-stroked-button style="color:aqua">Stroked Custom Button</button>
    <hr/>
    <button mat-fab>Fab</button>
    <button mat-fab style="color:white;background-color: aqua;">Fab</button>
    <button mat-fab color="primary">Fab</button>
</div>