<div>
    <h2>Structure Directive</h2>
    <input type="button" [value]="b1" (click)="change()">
    <div *ngIf="flag">
        <h2>
            Welcome to the Structure Directive Code
        </h2>
    </div>
    <h3> Add Students Names are </h3>
    <ul>
        <li  *ngFor="let std of stdNames">{{std}}</li>
    </ul>
    <hr/>
    <h3> Add Skill Names</h3>
    Skill Name: <input type="text" #sname/>
    <input type="button" value="Add Skill" (click)="addSkillName(sname.value)"/>
    <ul>
        <li  *ngFor="let skill of skillNames">{{skill}}</li>
    </ul>
    <br/>
    <p>
        Employee Details is <br/>
        Id is {{emp.id}}, Name is {{emp.name}} and salary is {{emp.salary}}
    </p>
    <br/>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Salary</th>
        </tr>
        <tr *ngFor="let emp of employees">
            <td>{{emp.id}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.salary}}</td>
        </tr>
    </table>
</div>
